<!DOCTYPE html>
<html>
<head>
    <link runat="server" rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B R O W N 's App</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/select.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/Content/css/invoicedashboard.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Css/bhe.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js" rel="stylesheet" />

    @Scripts.Render("~/scripts/jquery")
      
    
    @*@Scripts.Render("~/scripts/CustomerScripts")*@
    @*<script src="~/Scripts/app/controllers/customerController.js"></script>
    <script src="~/Scripts/app/services/customerdataservice.js"></script>*@

  
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="@Url.Action("../Home/Index")"><img width="25px" height="25px" src="~/Content/Images/Home.png" /></a>
                    </li>
                    <li>@Html.ActionLink("Dashboard", "RepairHome", "RepairHome")</li>
                    <li>@Html.ActionLink("Add", "Create", "Repair")</li>

                    <li>
                        <a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Repair  <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("Add", "Create", "Repair")</li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Reports  <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Admin  <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("Logs", "Index", "Logs")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                </ul>
            </div>
            <input type="hidden" id="apiKey" value="@System.Configuration.ConfigurationManager.AppSettings["API"].ToString()" />

        </div>
    </div>

    <br />
    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - B R O W N ' S Heavy Equipments</p>
        </footer>
    </div>

   
    @RenderSection("scripts", required: false)
</body>
</html>