<!DOCTYPE html>
<html>
<head>
    <link runat="server" rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - B R O W N 's App</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/select.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/Content/css/NodeMergeStyle.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/angularbase")
    @Scripts.Render("~/scripts/tools")
    @Scripts.Render("~/scripts/application")

    <style>

        .row-same-height {
            display: table;
            width: 100%;
            /* fix overflow */
            table-layout: fixed;
        }

        .navbar.navbar-default {
            background: white;
            border: none;
            -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            margin-bottom: 0;
            z-index: 9;
        }

        .navbar > .container-fluid {
            padding: 0 5%;
        }

        .navbar-default .navbar-nav > .open > a,
        .navbar-default .navbar-nav > .open > a:focus,
        .navbar-default .navbar-nav > .open > a:hover {
            background-color: transparent;
            color: #505050;
        }

        #main-container {
            background: white;
            -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
            margin: 60px 5% 0px;
            min-height: 80%;
        }

        #footer {
            color: white;
            padding: 0px;
            background: #0c4da2;
            border-top: none;
        }

            #footer .footer-links {
                text-align: center;
            }

            #footer .footer-links {
                text-align: center;
            }

            #footer ul {
                margin: 0%;
                text-align: center;
                display: inline;
                line-height: 80px;
                padding-left: 0px;
            }

                #footer ul li {
                    list-style: none;
                    zoom: 1;
                    display: inline;
                    margin: 0;
                    padding: 0;
                    line-height: 16px;
                }

            #footer #powered-by-bhe-logo {
                padding: 20px 0;
                max-width: 150px;
                margin: 0px auto;
            }

            #footer #bhe-links a {
                font-size: 11px;
                margin-right: 20px;
                border-bottom: 1px dotted transparent;
                /*-webkit-transition: 0.3s;
                -moz-transition: 0.3s;*/
                transition: 0.3s;
            }

            #footer .footer-links.social-icons {
                padding-top: 25px;
            }

            #footer ul#social li a {
                font-size: 18px;
                width: 21px;
            }

            #footer ul#social li a {
                display: inline-block;
                height: 30px;
                text-decoration: none;
                width: 30px;
                padding: 0;
                font-size: 22px;
            }

            #footer ul#social li a {
                -webkit-transition: .3s;
                -moz-transition: .3s;
                transition: 0.3s;
            }

                #footer ul#social li a:hover {
                    opacity: .5;
                }

            #footer ul#social span {
                display: none;
            }
    </style>
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-9"><img src="~/Content/Images/bhe.png" style="width:300px;height:90px" alt="BHE App Store" class="img-responsive"></div>
                <div class="col-xs-3"><img src="~/Content/Images/Apps.jpg" style="width:200px;height:90px" alt="BHE App Store" class="img-responsive"></div>
            </div>
        </div>
        <div class="container-fluid" id="main-container">

            <br /><br />

            @RenderBody()
        </div>
        <br /><br />

        <footer id="footer" class="change-color">
            <a href="#" class="back-to-top btn btn-primary hidden-lg hidden-md hidden-sm">Top of Page</a>
            <div class="container">
                <div class="row">
                    <div class="footer-logo footer-links col-lg-3 col-md-3 col-sm-2 col-xs-12">
                        <div id="powered-by-bhe-logo">
                            <a href="" target="_blank">
                            </a>
                        </div>
                    </div>
                    <div class="footer-links col-lg-6 col-md-6 col-sm-7 col-xs-12">
                        <ul id="bhe-links">
                            <li class="copyright"><a onclick="" href="http://www.brownsheavyequipment.com/" target="_blank">© 2016 Browns Heavy Equipment, Inc. <span class="sr-only">(Opens in a new window.)</span></a></li>
                            <li class="privacy-policy"><a onclick="" href="" target="_blank">Privacy Policy <span class="sr-only">(Opens in a new window.)</span></a></li>
                            <li class="terms-of-use"><a onclick="" href="" target="_blank">Terms of Use <span class="sr-only">(Opens in a new window.)</span></a></li>
                            <li class="help"><a onclick="" href="" target="_blank">Help <span class="sr-only">(Opens in a new window.)</span></a></li>
                            <li class="contact-us"><a onclick="" href="http://www.brownsheavyequipment.com/contactus.php" target="_blank">Contact Us <span class="sr-only">(Opens in a new window.)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>